/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&display=swap");

/* Variables */
:root {
	--text-color: black;
	--header-bg-color: #222121;
}

/* All document properties */
* {
	margin: 0;
	padding: 0;
	font-family: "Afacad", sans-serif;
	color: var(--text-color);
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(158, 158, 158); /* Couleur des liens survolés */
}

/* Body */
body {
	background-image: url("../img/synergie-fond.png");
	background-size: cover;
	background-attachment: fixed;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-bg-color);
}

header img {
	width: 125px;
	height: auto;
}

/* NavBar */
nav {
	display: flex;
	justify-content: center;
	margin: 0 20px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: #e9e9e9;
	text-decoration: none;
}

/* Burger menu */

/* Ajoutez les styles pour le burger menu */
.burger-menu {
	display: none; /* Masque le burger menu par défaut */
	cursor: pointer;
}

/* Ajoutez les styles pour les lignes du burger menu */
.line1,
.line2,
.line3 {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}

/* Animation pour transformer les lignes en croix */
.change .line1 {
	transform: rotate(-45deg) translate(-6px, 5px);
}

.change .line2 {
	opacity: 0;
}

.change .line3 {
	transform: rotate(45deg) translate(-6px, -5px);
}

/* Styles supplémentaires pour les appareils mobiles */
@media screen and (max-width: 768px) {
	.nav-links {
		display: none; /* Masque la liste de navigation par défaut pour les appareils mobiles */
	}
	.burger-menu {
		display: block; /* Affiche le burger menu pour les appareils mobiles */
	}
}

/* Main */
main {
	text-wrap: balance;
	text-align: center;
	margin: 4%;
	padding: 2.5em 0 2.5em 0;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

p {
	margin: 2em;
}

/* Annonces */
.annonce {
	background-color: rgb(165, 165, 165);
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour le relief */
	margin: 20px 25em 2em 25em;
	padding: 20px;
}

.annonce img {
	width: 20%; /* Assurez-vous que les images à l'intérieur du post occupent toute la largeur */
	border-radius: 5px;
	margin-bottom: 15px; /* Ajoute un espace en dessous de l'image */
}

.annonce h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.annonce p {
	line-height: 1.5;
	margin-bottom: 15px;
}

/* Footer */
footer {
	background-color: var(--header-bg-color);
	color: white;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
}

/* Ajustements pour les petits écrans (par exemple, les smartphones) */
@media screen and (max-width: 768px) {
	/* Body */
	body {
		/* Ajoutez des styles pour les petits écrans si nécessaire */
	}

	/* Header */
	header {
		flex-direction: column; /* Pour empiler les éléments dans le header sur les petits écrans */
		text-align: center;
	}

	header img {
		margin-bottom: 20px; /* Ajoute de l'espace entre le logo et la liste sur les petits écrans */
	}

	/* NavBar */
	nav {
		margin: 20px 0; /* Ajuste la marge sur les petits écrans */
	}

	nav ul {
		flex-direction: column; /* Empile les éléments de la liste sur les petits écrans */
		gap: 10px; /* Espacement entre les éléments de la liste */
	}

	nav ul li {
		display: block; /* Change l'affichage des éléments de la liste */
		text-align: center;
	}

	/* Main, p, #home-text, Footer - ajoutez des styles spécifiques pour les petits écrans si nécessaire */
}
